*~
#*
.#*

.DS_Store
TAGS

/.git

/README.html
/lib/README.html
/utests/README.html
/bin/README.html
/docs/README.html

*.hpp.gch

/build/
/next-tag.org
/next-tag.html

/offline_notes.org
/offline_notes.html
